body{
  display: flex;
  flex-flow: column;
  height: 100%;
}
header{
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
}
main{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}
footer{
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.Grid{
  display: grid;
  grid-template-rows: 1fr 10px 1fr;
  grid-template-columns: 1fr 10px 1fr;
  width: 100%;
  height: 100%;
}
.GutterColumn{
  grid-row: 1/-1;
  cursor: col-resize;
}
#GutterColumn1{
  grid-column: 2;
}
.GutterRow{
  grid-column: 1/-1;
  cursor: row-resize;
}
#GutterRow1{
  grid-row: 2;
}
#GutterColumn1, #GutterRow1{
  background-color: #2f2f2f;
}